{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "",
  "Parameters": {
    "hdSize": {
      "Type": "Number",
      "Default": "500",
      "Description": "Size of the HD in GB"
    },
    "instanceType": {
      "Type": "String",
      "Default": "r5.8xlarge",
      "AllowedValues": [
        "r5.4xlarge",
        "r5.8xlarge",
        "c5.12xlarge",
        "c5.18xlarge"
      ],
      "Description": "EC2 instance type (r types are memory optimized, and c types are compute optimized)"
    },
    "keyName": {
      "Type": "AWS::EC2::KeyPair::KeyName",
      "Description": "Name of an existing EC2 KeyPair to enable SSH access to the instance"
    },
    "userData": {
      "Type": "String",
      "Default": "",
      "Description": "user data to use when launching the instance"
    }
  },
  "Mappings": {
    "RegionAmi": {
      "ap-northeast-1": {
        "ami": "ami-04f69ab2dd2960278"
      },
      "ap-northeast-2": {
        "ami": "ami-078ca97446424ed41"
      },
      "ap-northeast-3": {
        "ami": "ami-03164caf29c26b6b0"
      },
      "ap-south-1": {
        "ami": "ami-08abb3eeacc61972d"
      },
      "ap-southeast-1": {
        "ami": "ami-0eeadc4ab092fef70"
      },
      "ap-southeast-2": {
        "ami": "ami-0b79ab0b8cfba7ecd"
      },
      "ca-central-1": {
        "ami": "ami-03030fa8fa4651e8b"
      },
      "eu-central-1": {
        "ami": "ami-05705f8465db448b7"
      },
      "eu-north-1": {
        "ami": "ami-0c28bd8f1dd39d667"
      },
      "eu-west-1": {
        "ami": "ami-00c896faf296575ab"
      },
      "eu-west-2": {
        "ami": "ami-004128c5853c91821"
      },
      "eu-west-3": {
        "ami": "ami-06ce55df7975baa3b"
      },
      "sa-east-1": {
        "ami": "ami-0c05bb4354b85796a"
      },
      "us-east-1": {
        "ami": "ami-0be0e902919675894"
      },
      "us-east-2": {
        "ami": "ami-060b1c20c93e475fd"
      },
      "us-west-1": {
        "ami": "ami-0c6269b2ddb61bb2e"
      },
      "us-west-2": {
        "ami": "ami-05044d26cbbf3c8cf"
      }
    }
  },
  "Resources": {
    "winVpc": {
      "Type": "AWS::EC2::VPC",
      "Properties": {
        "CidrBlock": "10.0.0.0/16",
        "InstanceTenancy": "default",
        "EnableDnsSupport": "true",
        "EnableDnsHostnames": "true"
      }
    },
    "winSN": {
      "Type": "AWS::EC2::Subnet",
      "Properties": {
        "VpcId": {
          "Ref": "winVpc"
        },
        "CidrBlock": "10.0.0.0/20",
        "MapPublicIpOnLaunch": "true"
      }
    },
    "winRT": {
      "Type": "AWS::EC2::RouteTable",
      "Properties": {
        "VpcId": {
          "Ref": "winVpc"
        }
      }
    },
    "RTAssoc": {
      "Type": "AWS::EC2::SubnetRouteTableAssociation",
      "Properties": {
        "SubnetId": {
          "Ref": "winSN"
        },
        "RouteTableId": {
          "Ref": "winRT"
        }
      }
    },
    "winIG": {
      "Type": "AWS::EC2::InternetGateway",
      "Properties": {
        "Tags": [
          {
            "Key": "Name",
            "Value": "winIG"
          }
        ]
      }
    },
    "IGAttach": {
      "Type": "AWS::EC2::VPCGatewayAttachment",
      "Properties": {
        "VpcId": {
          "Ref": "winVpc"
        },
        "InternetGatewayId": {
          "Ref": "winIG"
        }
      }
    },
  "winSG": {
    "Type": "AWS::EC2::SecurityGroup",
    "Properties": {
      "GroupDescription": "Enable RDP access via port 3389",
      "VpcId": {
        "Ref": "winVpc"
      },
      "SecurityGroupIngress": [
        {
          "CidrIp": "0.0.0.0/0",
          "IpProtocol": "tcp",
          "FromPort": "22",
          "ToPort": "22"
        }
      ]
    }
  },
  "winEC2": {
    "Type": "AWS::EC2::Instance",
    "Properties": {
      "BlockDeviceMappings": [
        {
          "DeviceName": "/dev/sda1",
          "Ebs": {
            "VolumeSize": {
              "Ref": "hdSize"
            }
          }
        }
      ],
      "ImageId": {
        "Fn::FindInMap": [
          "RegionAmi",
          {
            "Ref": "AWS::Region"
          },
          "ami"
        ]
      },
      "InstanceType": {
        "Ref": "instanceType"
      },
      "KeyName": {
        "Ref": "keyName"
      },
      "NetworkInterfaces": [
        {
          "AssociatePublicIpAddress": "true",
          "DeviceIndex": "0",
          "GroupSet": [
            {
              "Ref": "winSG"
            }
          ],
          "SubnetId": {
            "Ref": "winSN"
          },
          "DeleteOnTermination": "true"
        }
      ],
      "Tags": [
        {
          "Key": "Name",
          "Value": "windows_box"
        }
      ],
      "UserData": {
        "Fn::Base64": {
          "Ref": "userData"
        }
      }
    }
  }
}
}